[Desktop Entry]
Version=1.0
Type=Application
Name=SC7Labs Rack Settings
GenericName=SC7Labs Rack Settings
Comment=Configure SC7Labs Rack autostart, clipboard sharing, and files path
Exec=sc7-rack-settings --gui
Icon=sc7-rack
Terminal=false
Categories=Settings;DesktopSettings;Utility;X-COSMIC;
Keywords=rack;settings;configuration;clipboard;autostart;
StartupWMClass=sc7-rack-settings
